$material-black = #212121;
$material-white = #F5F5F5;
$material-blue-grey = #607D8B
$material-dark-blue = #0277BD

html
  height 100vh
  max-height 100vh
  max-width 100vw
  width 100vw
.earsfd-container
  -webkit-flex-direction column
  background-color $material-blue-grey
  display -webkit-flex
  display flex
  flex-direction column
  height 100%
  max-height 100%
  max-width 100%
  width 100%
.upload
  -webkit-align-content space-around
  -webkit-flex-direction row
  -webkit-flex-order 0
  -webkit-justify-content space-around
  background-color $material-dark-blue
  color $material-white
  display -webkit-flex
  display flex
  flex-direction row
  flex-order 0
  height 20%
  justify-content space-around
  max-height 20%
  max-width 100%
  width 95%

  &-input
    -webkit-flex-order 1
    flex-order 1
    height 95%
    padding-top 1%
    width 20%
.graph
  background-color $material-white
  margin-top 3%

  &-container
    -webkit-flex-order 1
    flex-order 1
    height 80%
    max-height 80%
    max-width 95%
    width 95%
.header
  -webkit-flex-direction column
  display -webkit-flex
  display flex
  flex-direction column
  justify-content center
  text-align center
  width 5%

  &-content
    -webkit-flex-order 0
    flex-order 0
    text-align center
.form-flex
  -webkit-flex-direction column
  align-content space-around
  display -webkit-flex
  display flex
  padding-top 1%
  width 50%

  &-select
    padding-bottom 1%
.submit
  background-color $material-white
  margin-left 50%
  margin-top 1%
  width 15%

.material-button
  border none
  border-radius 1.5px
  background-color $material-white
  color $material-white
  display inline-block
  overflow hidden
  padding .25rem
  position relative
  text-align center
  text-decoration none
  vertical-align middle
  transition 0.5s
.material-button:hover
  .material-button-transition
    padding-right 20px
  .material-button-transition:after
    opacity 1
    right 0
.material-button-raised
  box-shadow 0 3px 4px 0 $material-black, 0 2px 8px 0 $material-black
.material-button-transition
  cursor pointer
  display inline-block
  position relative
  transition .5s
.material-button-transition:after
  color $material-black
  content '»'
  position absolute
  opacity 0
  top 0
  transition 0.5s
