extends layout

block content
  .upload
    header.header
      span.header-content
        | E.A.S.R.F.D
    input(type='file' name='files[]')#upload.upload-input
    form#form.form-flex
      .form-flex-select#scatter
        input(type='radio' name='dataviz' value='scatter')
        span
          | Scatter Plot
      .form-flex-select
        select(name='trends')#trends
          option(value='cumulative')
            | Cumulative Trend Plot
          option(value='cumulative30')
            | Cumulative Trend Plot (30%)
          option(value='histogram')
            | Histogram / Frequency Plot
          option(value='histogram30')
            | Histogram / Frequency Plot (30%)
      .form-flex-select#arithmetic
        input(type='radio' name='dataviz' value='arithmetic')
        span
          | Arithmetic Plot
      .form-flex-select#timeseries
        input(type='radio' name='dataviz' value='timeseries')
        span
          | Time Series Plot
      .form-flex-select#laplace
        input(type='radio' name='dataviz' value='laplace')
        span
          | LaPlace Plot
      .form-flex-select.submit.material-button.material.button-raised
        button(type='button' form='form')#submit
          span.material-button-transition
            | Viz Viz Viz
  .graph-container
    #graph.graph
  footer
    script(type='text/javascript').
      SystemJS.import('js/easrfd.js');
